<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <meta charset="UTF-8">
  <title>All Relationships</title>
  <link rel="stylesheet" href="/css/relationships.css">
</head>
<body>
<div class="container">
  <h1>All Relationships</h1>

  <div class="top-links">
    <a href="/">Back Home</a>
    &nbsp;|&nbsp;
    <span sec:authorize="hasRole('ADMIN')">
      <a href="/relationships/new">Add New Relationship</a>
    </span>
  </div>

  <table th:if="${!#lists.isEmpty(relationships)}">
    <tr>
      <th>ID</th>
      <th>Person</th>
      <th>Relationship Type</th>
      <th>Related Person</th>
      <th sec:authorize="hasRole('ADMIN')">Actions</th>
    </tr>

    <tr th:each="rel : ${relationships}">
      <td th:text="${rel.id}"></td>
      <td th:text="${rel.person.firstName + ' ' + rel.person.lastName}"></td>
      <td th:text="${rel.relationshipType}"></td>
      <td th:text="${rel.relatedPerson.firstName + ' ' + rel.relatedPerson.lastName}"></td>
      <td class="actions" sec:authorize="hasRole('ADMIN')">
        <a th:href="@{'/relationships/edit/' + ${rel.id}}">Edit</a>
        |
        <a th:href="@{'/relationships/delete/' + ${rel.id}}"
           onclick="return confirm('Are you sure you want to delete this relationship?')">Delete</a>
      </td>
    </tr>
  </table>

  <div class="empty-state" th:if="${#lists.isEmpty(relationships)}">
    No relationships found.
  </div>
</div>
</body>
</html>